.circular-component {
  position: relative;
  background: #fff;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  padding: 1%;
  margin: 0 auto;
}

.circular-component.paper {
  background-image: radial-gradient(#4865f4, #5671f5);
  box-shadow: 0 10px 0px -5px #2944c2;
}
.circular-component.scissor {
  background-image: radial-gradient(#ec9e0e, #eca922);
  box-shadow: 0 10px 0px -5px #c76c1b;
}
.circular-component.rock {
  background-image: radial-gradient(#dc2e4e, #dd405d);
  box-shadow: 0 10px 0px -5px #9d1732;
}

.circular-component img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}

.innerCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 9rem;
  height: 9rem;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 10px 3px -5px #bcc0da;
}

@media only screen and (max-width: 690px) {
  .circular-component {
    width: 10rem;
    height: 10rem;
  }
  .innerCircle {
    width: 7rem;
    height: 7rem;
  }
}
