
.play-board {
    position: absolute;
    display: flex;
    top: 13rem;
    width: 55rem;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 5%);
    padding: 0% 10% 10%;

}

.play-board-choice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem;
}

.play-board-choice h2 {
    color: #fff;
    padding-bottom: 6%;
    font-size: 16px;
    text-align: center;
}

.circular-spot {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: rgb(22, 31, 60);
    opacity: 40%;
    transform: translateY(12%);
    border-radius: 50%;
}


.play-again {
    display: flex;
    flex-direction: column;
    margin: 5%;
    align-items: center;
    animation-delay: 20s;
}

.play-again.visible {
    width: 0;
    animation: play-again 3s ease-in forwards;
}

.play-again h1 {
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 5%;
    color: #fff;
}

@keyframes play-again {

    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        width: 100%;
    }

}


button {
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.rules-container.hidden {
    display: none;
}

.play-again.visible button {
    width: 200px;
    height: 45px;
    border: 1px solid #fff;
    color: #dc143c;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    background: #fff;
}
