.game-board {
  position: absolute;
  padding: 6%;
  top: 13rem;
  width: 58rem;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 940px) {
  .game-result {
    width: 50rem;
  }
}

@media only screen and (max-width: 690px) {
  .game-board {
    width: 30rem;
  }
}
